<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style-game.css">
    <title>ROCK PAPER SCISSORS GAME</title>
</head>

<body>
    <div id="container">
        <nav id="navbar">
            <a href="<%= back %>"><img class="back-icon" src="./assets/img/back.png" alt="back to prev"></a>
            <a href="<%= linkGame %>"><img class="logo-game" src="./assets/img/logo-game.png" alt="logo"></a>
            <h1 id="heading">ROCK PAPER SCISSORS</h1>
        </nav>
        <div id="game-container">
            <h1 id="player">PLAYER 1</h1>
            <h1 id="playerScore">0</h1>
            <h1 id="computer">COMPUTER</h1>
            <h1 id="comScore">0</h1>

            <div class="rock-grid1 box" id="rock-user">
                <img class="image" src="./assets/img/rock.png" alt="back to prev" onclick="play.checkPilihan('rock');">
            </div>
            <div class="rock-grid2" id="rock-com">
                <img class="image not-allowed" src="./assets/img/rock.png" alt="back to prev">
            </div>
            <div class="paper-grid1 box" id="paper-user">
                <img class="image" src="./assets/img/paper.png" alt="back to prev" onclick="play.checkPilihan('paper');">
            </div>
            <div class="paper-grid2" id="paper-com">
                <img class="image not-allowed" src="./assets/img/paper.png" alt="back to prev">
            </div>
            <div class="scissor-grid1 box" id="scissor-user">
                <img class="image" src="./assets/img/scissor.png" alt="back to prev"
                    onclick="play.checkPilihan('scissor');">
            </div>
            <div class="scissor-grid2" id="scissor-com">
                <img class="image not-allowed" src="./assets/img/scissor.png" alt="back to prev">
            </div>

            <div id="result" class="versus">
                <h1>VS</h1>
            </div>

            <div class="refresh"><a href="#">
                    <a href="<%= linkGame %>"><img class="image-refresh" src="./assets/img/refresh.png" alt="back to prev"></a>
            </div>
        </div>
    </div>
    <script src="./assets/js/script.js"></script>
</body>

</html>